<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ .Config.Title }}</title>

    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" type="text/css" href="index.css">

    <!-- GLightbox -->
    <link rel="stylesheet" href="glightbox.min.css"/>
    <script src="glightbox.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function (event) {
            const lightbox = GLightbox();
        });
    </script>
</head>
<body>
<section id="photos">
    {{ range .Photos }}
        <a href="{{ .PhotoPath }}" class="glightbox">
            <img src="{{ .ThumbnailPath }}"/>
        </a>
    {{ end }}
</section>
</body>
</html>