<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ .Config.Title }}</title>

    <link rel="icon" type="image/png" href="{{ $.Config.URL }}/favicon.png"/>

    <link rel="stylesheet" type="text/css" href="{{ $.Config.URL }}/index.css">

    <meta property="og:title" content="{{ .Config.Title }}"/>
    <meta property="og:type" content="website"/>

    {{ if .Config.CoverURL }}
        <meta property="og:image" content="{{ .Config.CoverURL }}"/>
    {{ else }}
        <meta property="og:image"
              content="{{ .Config.URL }}/{{ getAlbumCover (index .Albums 0) }}"/>
    {{ end }}
</head>
<body>
<section id="albums">
    {{ range .Albums }}
        <div class="album">
            <a href="{{ $.Config.URL }}/{{ .Folder }}">
                <img src="{{ $.Config.URL }}/{{ getAlbumCover . }}">
            </a>
            <div class="title">{{ .Name }}</div>
        </div>
    {{ end }}
</section>
</body>
</html>