* {
    margin: 0;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#photos img {
    width: 25%;

    outline: 1px solid #000;
}

@media (max-width: 1200px) {
    #photos img {
        width: 25%;
    }
}

@media (max-width: 1000px) {
    #photos img {
        width: 33.33%;
    }
}

@media (max-width: 800px) {
    #photos img {
        width: 50%;
    }
}

@media (max-width: 400px) {
    #photos img {
        width: 100%;
    }
}