* {
    margin: 0;
}

#photos {
    background: {{ .Config.BgColor }};
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#photos a {
    width: 20%;

    outline: {{ .Config.Border }} solid {{ .Config.BgColor }};
}

#photos img {
    width: 100%
}

#photos a:hover {
    cursor: pointer;
}

@media (max-width: 1400px) {
    #photos a {
        width: 25%;
    }
}

@media (max-width: 1000px) {
    #photos a {
        width: 33.33%;
    }
}

@media (max-width: 800px) {
    #photos a {
        width: 50%;
    }
}

@media (max-width: 600px) {
    #photos a {
        width: 100%;
    }
}